@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617; /* Slate 950 */
  --foreground: #f8fafc; /* Slate 50 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
